<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BIOSH </title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/login.css">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/signin.css">
 <!-- Bootstrap -->
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	
	<form   id='formulario' action="" method="POST"   >
		<table>
			{{ formulario.as_table }}
		</table>
		<p> <input type="submit" value="Guardar" href="biosh/login">
			<button type="submit"  onclick="location='login'">Cancelar</button>
		
		</p>
  				<!--
  				 role="form"
  				<form   role="form">
  					
  					<div class="form-group">
    					<label class="sr-only" for="inputEmail">Email</label>
   					 	<input type="email" class="form-control" id="inputEmail" placeholder="Introduce tu email">
  					</div>
 				   <div class="form-group">
    					<label class="sr-only" for="inputContraseña">Contraseña</label>
   					<input type="password" class="form-control" id="inputContraseña" placeholder="Contraseña">
  					</div>
					<div class="form-group">
    					<label class="sr-only" for="inputNombre">Nombre</label>
   					 <input type="text" class="form-control" id="inputNombre" placeholder="Introduce tu Nombre">
  					</div>
 				   <div class="form-group">
    					<label class="sr-only" for="inputApellidos">Apellidos</label>
   					<input type="text" class="form-control" id="inputApellidos" placeholder="Apellidos">
  					</div>
					<div class="form-group">
    					<label class="sr-only" for="inputTelefono">Teléfono</label>
   					 <input type="text" class="form-control" id="inputTelefono" placeholder="Teléfono">
  					</div>
 				   <div class="form-group">
    				<label class="sr-only" for="inputExecution">Tipo de Ejecucion</label>
   							<select class="form-control" id="inputExecution">
  								<option>Visitador</option>
  						</select>
					</div>
				 
 				  <button type="submit" class="btn btn-default" onclick="location='login'">Guardar</button>
				  <button type="submit" class="btn btn-default"  onclick="location='login'">Cancelar</button> -->
				  
		</form>	
        
   </body>
</html>